.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: var(--radius-md);
    border: 1px solid var(--border-subtle);
    background-color: var(--bg-surface);

    padding: 4px;
}


.posterContainer > * {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 6px
}

.movieError {
    border: 1px solid var(--border-subtle);
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieTextContents {
    padding: 0 4px 4px 4px;
}

.movieYear {
    font-size: var(--text-sm);
    color: var(--text-secondary);
    opacity: 0.67;
}